# Ignore node_modules, vendor, and environment files
node_modules/
vendor/
.env
.DS_Store
*.log
.venv/
seed_data.sql

# Ignore uploaded files but keep the directories
uploads/images/profiles/*
!uploads/images/profiles/.gitkeep
public/assets/uploads/*
!public/assets/uploads/.gitkeep