-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: 127.0.0.1    Database: TiranaSolidare
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admin_log`
--

DROP TABLE IF EXISTS `admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admin_log` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `admin_id` int(11) NOT NULL,
  `veprim` varchar(50) NOT NULL,
  `target_type` varchar(30) DEFAULT NULL,
  `target_id` int(11) DEFAULT NULL,
  `detaje` text DEFAULT NULL,
  `krijuar_me` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_admin_action` (`admin_id`,`veprim`),
  KEY `idx_target` (`target_type`,`target_id`),
  CONSTRAINT `admin_log_ibfk_1` FOREIGN KEY (`admin_id`) REFERENCES `perdoruesi` (`id_perdoruesi`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_log`
--

LOCK TABLES `admin_log` WRITE;
/*!40000 ALTER TABLE `admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `aplikimi`
--

DROP TABLE IF EXISTS `aplikimi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `aplikimi` (
  `id_aplikimi` int(11) NOT NULL AUTO_INCREMENT,
  `id_perdoruesi` int(11) DEFAULT NULL,
  `id_eventi` int(11) DEFAULT NULL,
  `statusi` enum('pending','approved','rejected','present','absent') DEFAULT 'pending',
  `ne_liste_pritje` tinyint(1) DEFAULT 0,
  `aplikuar_me` timestamp NOT NULL DEFAULT current_timestamp(),
  `ndryshuar_me` timestamp NULL DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id_aplikimi`),
  UNIQUE KEY `uq_user_event` (`id_perdoruesi`,`id_eventi`),
  KEY `id_perdoruesi` (`id_perdoruesi`),
  KEY `id_eventi` (`id_eventi`),
  KEY `idx_statusi` (`statusi`),
  CONSTRAINT `aplikimi_ibfk_1` FOREIGN KEY (`id_perdoruesi`) REFERENCES `perdoruesi` (`id_perdoruesi`) ON DELETE CASCADE,
  CONSTRAINT `aplikimi_ibfk_2` FOREIGN KEY (`id_eventi`) REFERENCES `eventi` (`id_eventi`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='Junction table for Many-to-Many relationship';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aplikimi`
--

LOCK TABLES `aplikimi` WRITE;
/*!40000 ALTER TABLE `aplikimi` DISABLE KEYS */;
/*!40000 ALTER TABLE `aplikimi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `aplikimi_kerkese`
--

DROP TABLE IF EXISTS `aplikimi_kerkese`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `aplikimi_kerkese` (
  `id_aplikimi_kerkese` int(11) NOT NULL AUTO_INCREMENT,
  `id_kerkese_ndihme` int(11) NOT NULL,
  `id_perdoruesi` int(11) NOT NULL,
  `statusi` enum('pending','approved','waitlisted','rejected','withdrawn','completed') DEFAULT 'pending',
  `aplikuar_me` timestamp NOT NULL DEFAULT current_timestamp(),
  `ndryshuar_me` timestamp NULL DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id_aplikimi_kerkese`),
  UNIQUE KEY `uq_user_request` (`id_kerkese_ndihme`,`id_perdoruesi`),
  KEY `id_kerkese_ndihme` (`id_kerkese_ndihme`),
  KEY `id_perdoruesi` (`id_perdoruesi`),
  KEY `idx_statusi_kerkese` (`statusi`),
  KEY `idx_help_request_application_status` (`statusi`),
  CONSTRAINT `aplikimi_kerkese_ibfk_1` FOREIGN KEY (`id_kerkese_ndihme`) REFERENCES `kerkesa_per_ndihme` (`id_kerkese_ndihme`) ON DELETE CASCADE,
  CONSTRAINT `aplikimi_kerkese_ibfk_2` FOREIGN KEY (`id_perdoruesi`) REFERENCES `perdoruesi` (`id_perdoruesi`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='Aplikime t├½ vullnetar├½ve p├½r k├½rkesat e ndihm├½s';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aplikimi_kerkese`
--

LOCK TABLES `aplikimi_kerkese` WRITE;
/*!40000 ALTER TABLE `aplikimi_kerkese` DISABLE KEYS */;
/*!40000 ALTER TABLE `aplikimi_kerkese` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `email_queue`
--

DROP TABLE IF EXISTS `email_queue`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `email_queue` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `to_email` varchar(255) NOT NULL,
  `to_name` varchar(255) NOT NULL DEFAULT '',
  `subject` varchar(500) NOT NULL,
  `body_html` mediumtext NOT NULL,
  `body_text` text DEFAULT NULL,
  `status` enum('pending','processing','sent','failed') DEFAULT 'pending',
  `attempts` tinyint(3) unsigned DEFAULT 0,
  `max_attempts` tinyint(3) unsigned DEFAULT 3,
  `last_error` text DEFAULT NULL,
  `next_retry_at` timestamp NULL DEFAULT NULL,
  `krijuar_me` timestamp NOT NULL DEFAULT current_timestamp(),
  `sent_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_status_retry` (`status`,`next_retry_at`)
) ENGINE=InnoDB AUTO_INCREMENT=62 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `email_queue`
--

LOCK TABLES `email_queue` WRITE;
/*!40000 ALTER TABLE `email_queue` DISABLE KEYS */;
/*!40000 ALTER TABLE `email_queue` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `eventi`
--

DROP TABLE IF EXISTS `eventi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `eventi` (
  `id_eventi` int(11) NOT NULL AUTO_INCREMENT,
  `id_perdoruesi` int(11) DEFAULT NULL,
  `id_kategoria` int(11) DEFAULT NULL,
  `titulli` varchar(200) DEFAULT NULL,
  `pershkrimi` text DEFAULT NULL,
  `kapaciteti` int(11) DEFAULT NULL,
  `data` datetime DEFAULT NULL,
  `vendndodhja` varchar(255) DEFAULT NULL,
  `latitude` decimal(10,7) DEFAULT NULL,
  `longitude` decimal(10,7) DEFAULT NULL,
  `banner` varchar(500) DEFAULT NULL COMMENT 'URL to image storage',
  `statusi` enum('active','completed','cancelled','pending_review') NOT NULL DEFAULT 'active',
  `is_archived` tinyint(1) DEFAULT 0,
  `krijuar_me` timestamp NOT NULL DEFAULT current_timestamp(),
  `ndryshuar_me` timestamp NULL DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id_eventi`),
  KEY `id_perdoruesi` (`id_perdoruesi`),
  KEY `id_kategoria` (`id_kategoria`),
  KEY `idx_data` (`data`),
  CONSTRAINT `eventi_ibfk_1` FOREIGN KEY (`id_perdoruesi`) REFERENCES `perdoruesi` (`id_perdoruesi`) ON DELETE SET NULL,
  CONSTRAINT `eventi_ibfk_2` FOREIGN KEY (`id_kategoria`) REFERENCES `kategoria` (`id_kategoria`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `eventi`
--

LOCK TABLES `eventi` WRITE;
/*!40000 ALTER TABLE `eventi` DISABLE KEYS */;
/*!40000 ALTER TABLE `eventi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `help_request_flags`
--

DROP TABLE IF EXISTS `help_request_flags`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `help_request_flags` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_kerkese_ndihme` int(11) NOT NULL,
  `id_perdoruesi` int(11) NOT NULL,
  `arsye` text DEFAULT NULL,
  `krijuar_me` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_flag` (`id_kerkese_ndihme`,`id_perdoruesi`),
  KEY `id_perdoruesi` (`id_perdoruesi`),
  CONSTRAINT `help_request_flags_ibfk_1` FOREIGN KEY (`id_kerkese_ndihme`) REFERENCES `kerkesa_per_ndihme` (`id_kerkese_ndihme`) ON DELETE CASCADE,
  CONSTRAINT `help_request_flags_ibfk_2` FOREIGN KEY (`id_perdoruesi`) REFERENCES `perdoruesi` (`id_perdoruesi`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `help_request_flags`
--

LOCK TABLES `help_request_flags` WRITE;
/*!40000 ALTER TABLE `help_request_flags` DISABLE KEYS */;
/*!40000 ALTER TABLE `help_request_flags` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kategoria`
--

DROP TABLE IF EXISTS `kategoria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kategoria` (
  `id_kategoria` int(11) NOT NULL AUTO_INCREMENT,
  `emri` varchar(50) DEFAULT NULL,
  `banner_path` varchar(500) DEFAULT NULL,
  PRIMARY KEY (`id_kategoria`),
  UNIQUE KEY `emri` (`emri`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kategoria`
--

LOCK TABLES `kategoria` WRITE;
/*!40000 ALTER TABLE `kategoria` DISABLE KEYS */;
INSERT INTO `kategoria` VALUES (1,'Mjedis','/TiranaSolidare/public/assets/uploads/seed/categories/mjedis.svg'),(2,'Sociale','/TiranaSolidare/public/assets/uploads/seed/categories/sociale.jpg'),(3,'Edukimi','/TiranaSolidare/public/assets/uploads/seed/categories/edukimi.jpg'),(4,'Sh├½ndet├½si','/TiranaSolidare/public/assets/uploads/seed/categories/shendetesi.jpg'),(5,'Emergjenca','/TiranaSolidare/public/assets/uploads/seed/categories/emergjenca.jpg');
/*!40000 ALTER TABLE `kategoria` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kerkesa_per_ndihme`
--

DROP TABLE IF EXISTS `kerkesa_per_ndihme`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kerkesa_per_ndihme` (
  `id_kerkese_ndihme` int(11) NOT NULL AUTO_INCREMENT,
  `id_perdoruesi` int(11) DEFAULT NULL,
  `id_kategoria` int(11) DEFAULT NULL,
  `tipi` enum('request','offer') DEFAULT NULL,
  `titulli` varchar(150) DEFAULT NULL,
  `pershkrimi` text DEFAULT NULL,
  `statusi` enum('open','filled','completed','cancelled') DEFAULT 'open',
  `matching_mode` enum('single','limited','open') NOT NULL DEFAULT 'open',
  `capacity_total` int(11) DEFAULT NULL,
  `moderation_status` enum('pending_review','approved','rejected') NOT NULL DEFAULT 'approved',
  `imazhi` varchar(500) DEFAULT NULL,
  `vendndodhja` varchar(255) DEFAULT NULL,
  `latitude` decimal(10,7) DEFAULT NULL,
  `longitude` decimal(10,7) DEFAULT NULL,
  `krijuar_me` timestamp NOT NULL DEFAULT current_timestamp(),
  `completed_at` datetime DEFAULT NULL,
  `cancelled_at` datetime DEFAULT NULL,
  `closed_reason` varchar(255) DEFAULT NULL,
  `ndryshuar_me` timestamp NULL DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id_kerkese_ndihme`),
  KEY `id_perdoruesi` (`id_perdoruesi`),
  KEY `idx_statusi` (`statusi`),
  KEY `idx_kategoria` (`id_kategoria`),
  KEY `idx_help_request_moderation` (`moderation_status`),
  KEY `idx_help_request_status` (`statusi`),
  KEY `idx_help_request_matching` (`matching_mode`),
  CONSTRAINT `kerkesa_ndihme_kategoria_fk` FOREIGN KEY (`id_kategoria`) REFERENCES `kategoria` (`id_kategoria`) ON DELETE SET NULL,
  CONSTRAINT `kerkesa_per_ndihme_ibfk_1` FOREIGN KEY (`id_perdoruesi`) REFERENCES `perdoruesi` (`id_perdoruesi`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kerkesa_per_ndihme`
--

LOCK TABLES `kerkesa_per_ndihme` WRITE;
/*!40000 ALTER TABLE `kerkesa_per_ndihme` DISABLE KEYS */;
/*!40000 ALTER TABLE `kerkesa_per_ndihme` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mesazhi`
--

DROP TABLE IF EXISTS `mesazhi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mesazhi` (
  `id_mesazhi` int(11) NOT NULL AUTO_INCREMENT,
  `derguesi_id` int(11) NOT NULL,
  `marruesi_id` int(11) NOT NULL,
  `mesazhi` text NOT NULL,
  `is_read` tinyint(1) DEFAULT 0,
  `krijuar_me` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_mesazhi`),
  KEY `idx_derguesi` (`derguesi_id`),
  KEY `idx_marruesi` (`marruesi_id`),
  KEY `idx_thread` (`derguesi_id`,`marruesi_id`,`krijuar_me`),
  KEY `idx_unread` (`marruesi_id`,`is_read`),
  CONSTRAINT `mesazhi_ibfk_1` FOREIGN KEY (`derguesi_id`) REFERENCES `perdoruesi` (`id_perdoruesi`) ON DELETE CASCADE,
  CONSTRAINT `mesazhi_ibfk_2` FOREIGN KEY (`marruesi_id`) REFERENCES `perdoruesi` (`id_perdoruesi`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='Mesazhet ndΓö£┬╜rmjet pΓö£┬╜rdoruesve';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mesazhi`
--

LOCK TABLES `mesazhi` WRITE;
/*!40000 ALTER TABLE `mesazhi` DISABLE KEYS */;
INSERT INTO `mesazhi` VALUES (1,25,26,'pershednetje',0,'2026-04-07 19:54:39'),(2,25,26,'pershednetje',0,'2026-04-07 19:54:41');
/*!40000 ALTER TABLE `mesazhi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `njoftimi`
--

DROP TABLE IF EXISTS `njoftimi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `njoftimi` (
  `id_njoftimi` int(11) NOT NULL AUTO_INCREMENT,
  `id_perdoruesi` int(11) DEFAULT NULL,
  `mesazhi` text DEFAULT NULL,
  `is_read` tinyint(1) DEFAULT 0,
  `krijuar_me` timestamp NOT NULL DEFAULT current_timestamp(),
  `tipi` varchar(30) DEFAULT NULL,
  `target_type` varchar(30) DEFAULT NULL,
  `target_id` int(11) DEFAULT NULL,
  `linku` varchar(500) DEFAULT NULL,
  `ndryshuar_me` timestamp NULL DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id_njoftimi`),
  KEY `id_perdoruesi` (`id_perdoruesi`),
  KEY `idx_is_read` (`is_read`),
  CONSTRAINT `njoftimi_ibfk_1` FOREIGN KEY (`id_perdoruesi`) REFERENCES `perdoruesi` (`id_perdoruesi`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=54 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `njoftimi`
--

LOCK TABLES `njoftimi` WRITE;
/*!40000 ALTER TABLE `njoftimi` DISABLE KEYS */;
/*!40000 ALTER TABLE `njoftimi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `organization_applications`
--

DROP TABLE IF EXISTS `organization_applications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `organization_applications` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `applicant_user_id` int(11) NOT NULL,
  `organization_name` varchar(160) NOT NULL,
  `contact_name` varchar(120) NOT NULL,
  `contact_email` varchar(160) NOT NULL,
  `contact_phone` varchar(40) DEFAULT NULL,
  `website` varchar(255) DEFAULT NULL,
  `description` text NOT NULL,
  `status` varchar(20) NOT NULL DEFAULT 'pending',
  `review_notes` text DEFAULT NULL,
  `reviewed_by_user_id` int(11) DEFAULT NULL,
  `reviewed_at` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_org_app_status` (`status`),
  KEY `idx_org_app_user` (`applicant_user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `organization_applications`
--

LOCK TABLES `organization_applications` WRITE;
/*!40000 ALTER TABLE `organization_applications` DISABLE KEYS */;
/*!40000 ALTER TABLE `organization_applications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `perdoruesi`
--

DROP TABLE IF EXISTS `perdoruesi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `perdoruesi` (
  `id_perdoruesi` int(11) NOT NULL AUTO_INCREMENT,
  `emri` varchar(100) NOT NULL,
  `email` varchar(150) NOT NULL,
  `birthdate` date DEFAULT NULL,
  `bio` text DEFAULT NULL,
  `profile_picture` varchar(500) DEFAULT NULL,
  `profile_public` tinyint(1) NOT NULL DEFAULT 0,
  `profile_color` varchar(20) NOT NULL DEFAULT 'emerald',
  `email_notifications` tinyint(1) NOT NULL DEFAULT 1,
  `fjalekalimi` varchar(255) NOT NULL,
  `roli` enum('admin','volunteer','super_admin') DEFAULT 'volunteer',
  `statusi_llogarise` enum('active','blocked','deactivated') DEFAULT 'active',
  `verified` tinyint(1) NOT NULL DEFAULT 0,
  `verification_token_hash` varchar(64) DEFAULT NULL,
  `verification_token_expires` datetime DEFAULT NULL,
  `guardian_name` varchar(100) DEFAULT NULL,
  `guardian_email` varchar(150) DEFAULT NULL,
  `guardian_relation` varchar(60) DEFAULT NULL,
  `guardian_consent_status` varchar(20) NOT NULL DEFAULT 'not_required',
  `guardian_consent_token_hash` varchar(64) DEFAULT NULL,
  `guardian_consent_token_expires` datetime DEFAULT NULL,
  `guardian_consent_verified_at` datetime DEFAULT NULL,
  `organization_name` varchar(160) DEFAULT NULL,
  `organization_website` varchar(255) DEFAULT NULL,
  `organization_phone` varchar(40) DEFAULT NULL,
  `organization_description` text DEFAULT NULL,
  `password_reset_token_hash` varchar(64) DEFAULT NULL,
  `password_reset_token_expires` datetime DEFAULT NULL,
  `krijuar_me` timestamp NOT NULL DEFAULT current_timestamp(),
  `deaktivizuar_me` datetime DEFAULT NULL,
  `ndryshuar_me` timestamp NULL DEFAULT NULL ON UPDATE current_timestamp(),
  `arsye_bllokimi` text DEFAULT NULL,
  `password_changed_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id_perdoruesi`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='Main user table storing auth details';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `perdoruesi`
--

LOCK TABLES `perdoruesi` WRITE;
/*!40000 ALTER TABLE `perdoruesi` DISABLE KEYS */;
/*!40000 ALTER TABLE `perdoruesi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `push_subscriptions`
--

DROP TABLE IF EXISTS `push_subscriptions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `push_subscriptions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `endpoint` varchar(512) NOT NULL,
  `p256dh` varchar(512) NOT NULL,
  `auth` varchar(256) NOT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_endpoint` (`endpoint`),
  KEY `idx_push_user` (`user_id`),
  CONSTRAINT `fk_push_user` FOREIGN KEY (`user_id`) REFERENCES `perdoruesi` (`id_perdoruesi`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `push_subscriptions`
--

LOCK TABLES `push_subscriptions` WRITE;
/*!40000 ALTER TABLE `push_subscriptions` DISABLE KEYS */;
/*!40000 ALTER TABLE `push_subscriptions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `raporti`
--

DROP TABLE IF EXISTS `raporti`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `raporti` (
  `id_raporti` int(11) NOT NULL AUTO_INCREMENT,
  `id_perdoruesi` int(11) DEFAULT NULL,
  `tipi_raportit` varchar(50) DEFAULT NULL,
  `permbajtja` text DEFAULT NULL,
  `gjeneruar_me` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_raporti`),
  KEY `id_perdoruesi` (`id_perdoruesi`),
  CONSTRAINT `raporti_ibfk_1` FOREIGN KEY (`id_perdoruesi`) REFERENCES `perdoruesi` (`id_perdoruesi`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `raporti`
--

LOCK TABLES `raporti` WRITE;
/*!40000 ALTER TABLE `raporti` DISABLE KEYS */;
/*!40000 ALTER TABLE `raporti` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rate_limit_log`
--

DROP TABLE IF EXISTS `rate_limit_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rate_limit_log` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ip` varchar(45) NOT NULL,
  `action` varchar(50) NOT NULL,
  `attempted_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_ip_action` (`ip`,`action`,`attempted_at`)
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rate_limit_log`
--

LOCK TABLES `rate_limit_log` WRITE;
/*!40000 ALTER TABLE `rate_limit_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `rate_limit_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `site_settings`
--

DROP TABLE IF EXISTS `site_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `site_settings` (
  `setting_key` varchar(100) NOT NULL,
  `setting_value` text NOT NULL,
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`setting_key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `site_settings`
--

LOCK TABLES `site_settings` WRITE;
/*!40000 ALTER TABLE `site_settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `site_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `support_messages`
--

DROP TABLE IF EXISTS `support_messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `support_messages` (
  `id_support_message` int(11) NOT NULL AUTO_INCREMENT,
  `from_user_id` int(11) DEFAULT NULL,
  `from_name` varchar(160) NOT NULL,
  `from_email` varchar(190) NOT NULL,
  `subject` varchar(200) NOT NULL,
  `message` text NOT NULL,
  `status` enum('new','read','replied','resolved') NOT NULL DEFAULT 'new',
  `last_reply_message` text DEFAULT NULL,
  `replied_by` int(11) DEFAULT NULL,
  `replied_at` datetime DEFAULT NULL,
  `resolved_by` int(11) DEFAULT NULL,
  `resolved_at` datetime DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_support_message`),
  KEY `idx_support_status` (`status`,`created_at`),
  KEY `idx_support_user` (`from_user_id`),
  KEY `idx_support_reply` (`replied_by`),
  KEY `idx_support_resolve` (`resolved_by`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `support_messages`
--

LOCK TABLES `support_messages` WRITE;
/*!40000 ALTER TABLE `support_messages` DISABLE KEYS */;
INSERT INTO `support_messages` VALUES (1,25,'Evina t','etershalla23@epoka.edu.al','nuk punon chati','efdsfsdfdfsfds','resolved','pershendetje tani funksionon',22,'2026-04-07 21:56:49',22,'2026-04-07 21:56:49','2026-04-07 19:55:56');
/*!40000 ALTER TABLE `support_messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_blocks`
--

DROP TABLE IF EXISTS `user_blocks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_blocks` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `blocker_id` int(11) NOT NULL,
  `blocked_id` int(11) NOT NULL,
  `krijuar_me` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_block` (`blocker_id`,`blocked_id`),
  KEY `blocked_id` (`blocked_id`),
  CONSTRAINT `user_blocks_ibfk_1` FOREIGN KEY (`blocker_id`) REFERENCES `perdoruesi` (`id_perdoruesi`) ON DELETE CASCADE,
  CONSTRAINT `user_blocks_ibfk_2` FOREIGN KEY (`blocked_id`) REFERENCES `perdoruesi` (`id_perdoruesi`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_blocks`
--

LOCK TABLES `user_blocks` WRITE;
/*!40000 ALTER TABLE `user_blocks` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_blocks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'TiranaSolidare'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-07 22:45:22
