@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body {
  font-family: 'Raleway', sans-serif;
  color: #202020;
  overflow-x: hidden;
}

main{
  margin-top: -100px;
  padding-block: 100px;
  overflow-y: hidden;
}





/*-- LAYOUT --*/

section{
  position: relative;
  padding: 150px clamp(20px, 8%, 8%);
}




/*-- TYPOGRAPHY --*/

:root{ --font-coeff: 1;}
@media screen and (max-width: 480px) { :root{ --font-coeff: 0.75; } }

h1, h2, h3, h4, h5, h6 {
  font-family: "Bitter", serif;
  color: #003229;
}

h1{
  font-size: calc(3.5rem * var(--font-coeff));
  margin-bottom: 20px;
}

h2{
  font-size: calc(3rem * var(--font-coeff));
  margin-bottom: 20px;
}

h3{
  font-size: calc(2rem * var(--font-coeff));
  margin-bottom: 20px;
}




/*-- BUTTONS --*/

button{
  cursor: pointer;
}

.btn_primary{
  position: relative;
  color: #fff;
  padding: 15px 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 12px;
  text-decoration: none;
  font-weight: 500;
  border: 0;
  cursor: pointer;
  overflow: hidden;
  transition: 0.5s ease;
  text-align: center;
}

.btn_primary::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #E17254;
  top: 0;
  left: 0;
  z-index: -2;
}

.btn_primary::after{
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #00000020;
  top: 0;
  left: unset;
  right: 0;
  z-index: -1;
  transition: 0.5s ease;
}

.btn_primary:hover::after{
  right: unset;
  left: 0;
  width: 100%;
}

.btn_secondary{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #00715D;
  font-weight: 500;
  transition: 0.5s ease;
}

.btn_secondary:hover{
  color: #00251e;
}
.btn_secondary .lucide{
  transition: 0.5s ease;
}

.btn_secondary:hover .lucide{
  transform: translateX(3px);
  transition: 0.5s ease;
}








/*-- COMPONENTS --*/

/* Help Card */

.help_card{
  width: 100%;
  max-width: 400px;
  height: min-content;
  padding: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column;
  gap: 10px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.5) 0px 0px 0px 0.5px;
}

.help_card > img{
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 10px;
  object-fit: cover;
}

.help_card_status{
  color: #fff;
  padding: 8px 18px;
  font-weight: 500;
  font-size: 0.85rem;
  border-radius: 100px;
  margin-top: 8px;
}

.help_card_status.request{
  background-color: #d84d27;
}
.help_card_status.offer{
  background-color: #00711e;
}

.help_card_title{
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 8px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2; 
  -webkit-box-orient: vertical;
}

.help_card_description{
  font-size: 0.9rem;
  color: #202020;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
          line-clamp: 3; 
  -webkit-box-orient: vertical;
  margin: 0;
}

.help_card_info{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  font-size: 0.85rem;
}

.help_card_info .lucide{
  width: 16px;
  height: 16px;
  stroke-width: 2px;
}

.help_card_info_location, 
.help_card_info_time{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  color: #202020aa;
}

.help_card_btn{
  align-items: flex-end;
  margin-top: 20px;
  margin-left: auto;
}









/* Horizontal Scroller */

.hs{
  align-self: stretch;
  width: 100%;
  position: relative;
}

.hs_Wrapper{
  position: absolute;
  width: calc(100%);
  display: inline-grid;
  padding-inline: clamp(20px, 8vw, 8vw);
  padding-block: 2px;
  grid-auto-flow: column;
  gap: 30px;
  scroll-snap-type: x mandatory;
  overflow: auto;
  scroll-padding-left: clamp(20px, 8vw, 8vw);
  
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hs_Wrapper::-webkit-scrollbar {
  display: none;
}

.hs_Wrapper > *{
  white-space: initial;
  scroll-snap-align: start;
  width: 400px !important;
}

.hs_Btn{
  position: absolute;
  top: calc(50%);
  width: 3rem;
  height: 3rem;
  display: grid;
  place-items: center;
  border: 0;
  border-radius: 50px;
  background-color: #00715D;
  backdrop-filter: blur(2px);
  cursor: pointer;
  z-index: 100000;
  transition: 0.2s ease;
}

.hs_BtnHide{
  display: none;
}

.hs_Btn:hover{
  background-color: #00715D;
}

.hs_Btn > svg{
  width: 1.6rem;
  height: 1.6rem;
  color: #fff;
}

.hs_Btn:nth-of-type(1){
  left: calc(clamp(20px, 8vw, 8vw) + 20px);
}
.hs_Btn:nth-of-type(2){
  right: calc(clamp(20px, 8vw, 8vw) + 20px);
}



@media screen and (max-width: 680px) {
  .hs_Btn{
    width: 2.5rem;
    height: 2.5rem;
  }
  .hs_Wrapper > *{
    scroll-snap-align: center;
  }
  .hs_Btn:nth-of-type(1){
    left: calc(clamp(20px, 8vw, 8vw) + 8px);
  }
  .hs_Btn:nth-of-type(2){
    right: calc(clamp(20px, 8vw, 8vw) + 8px);
  }
}




@media screen and (max-width: 680px) {
  
  .hs_Btn{
    width: 2.5rem;
    height: 2.5rem;
  }
  .hs_Wrapper > *{
    scroll-snap-align: center;
  }
  .hs_Btn:nth-of-type(1){
    left: calc(clamp(20px, 8vw, 8vw) + 8px);
  }
  .hs_Btn:nth-of-type(2){
    right: calc(clamp(20px, 8vw, 8vw) + 8px);
  }
}


@media screen and (max-width: 450px) {
  .hs_Btn{
    display: none;
  }
}













/*-- NAVIGATION --*/

.header{
  position: relative;
  padding: 0px clamp(8%, 8%, 20px);
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
}

.header-logo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  text-decoration: none;
}

.header-logo > img{
  width: 48px;
}

.header-logo > span{
  font-size: 1.5rem;
  color: #00715D;
  font-weight: 700;
}

.header-logo > span > b{
  color: #E17254;
  font-weight: inherit;
}




.header-nav{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.header-nav a:not(.btn_primary, .btn_secondary){
  position: relative;
  text-decoration: none;
  color: #00715D;
  font-weight: 500;
}

.header-nav a:not(.btn_primary, .btn_secondary):before{
  content: "";
  position: absolute;
  bottom: -4px;
  left: unset;
  right: 0;
  width: 0%;
  height: 2px;
  background-color: #00715D;
  transition: 0.5s ease;
}

.header-nav a:not(.btn_primary, .btn_secondary):hover:before{
  right: unset;
  left: 0;
  width: 100%;
}

.header-nav span{
  margin-left: auto;
}

.header-nav button{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00715D;
  background-color: transparent;
  border: 0;
  margin: 0 10px 20px auto;

  display: none;
}

.header-nav button .lucide{
  width: 32px;
  height: 32px;
}





.header-btn{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
  margin-left: auto;
}

.header-btn button{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00715D;
  background-color: transparent;
  border: 0;

  display: none;
}

.header-btn button .lucide{
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 1280px) {
  .header-btn button,
  .header-nav button {
    display: flex;
  }

  .header-nav{
    position: absolute;
    top: 0;
    right: -400px;
    width: 100%;
    max-width: 350px;
    height: 100vh;
    background-color: #ffffffaa;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 6px 20px,
            rgba(0, 0, 0, 0.05) 0px 0px 0px 0.5px; 
    backdrop-filter: blur(15px);
    z-index: 100000000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
    gap: 24px;
    padding: 50px 20px;
    overflow-y: auto;
    transition: 0.5s ease;
  }

  .header-nav.active{
    right: 0;
  }
}


@media screen and (max-width: 480px) {
  .header-logo > span{
    display: none;
  }
}










.footer{
  position: relative;
  padding: 100px clamp(20px, 8%, 8%);
  color: #fff;
  background: url('../images/logo_transparent.svg') no-repeat top 50px left 15%;
  background-size: 400px;
  background-color: #00715D;
}

.footer-main{
  display: grid;
  grid-template-columns: 350px 1fr;
  gap: 50px;
}

.footer-content{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}


.footer-logo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  text-decoration: none;
}

.footer-logo > img{
  width: 48px;
  filter: brightness(0) invert(1);
}

.footer-logo > span{
  font-size: 1.5rem;
  color: #fff;
  font-weight: 700;
}

.footer-logo > span > b{
  color: #fff;
  font-weight: inherit;
}

.footer-links{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 50px;
  flex-wrap: wrap;
}

.footer-links ul{
  list-style-type: none;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}

.footer-links ul li:nth-child(1){
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 12px;
}
.footer-links ul li a{
  color: #fffa;
  text-decoration: none;
  transition: 0.2s ease;
}
.footer-links ul li a:hover{
  color: #fff;
}
.footer-copy{
  margin-top: 50px;
  border-top: 1px solid #fff5;
  padding-top: 50px;
  color: #fff8
}


@media screen and (max-width: 1280px) {
  .footer-main{
    grid-template-columns: 1fr;
  }

  .footer-content p{
    max-width: 500px;
  }

  .footer-links{
    justify-content: flex-start;
  }

  .footer{
    background-position: top 50px right 5%;
  }
}